header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
  
    .logo {
      margin: 10px 2%;
    }
  
    .links {
      a {
        margin: 10px 57px 10px 10px;
        font-size: 24px;
        text-decoration: none;
        color: $primary;
        &:hover {
          text-decoration: underline;
        }
      }
      .active {
        text-decoration: underline;
      }
    }
  }
  
  @media (max-width: 768px) {
    header {
      height: 80px;
      .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 50%;
        //margin: 10px;
        img {
         // width: 70%;
          height: auto;
        }
      }
  
      .links {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
  
        a {
          font-size: 15px;
          margin: 10px 0 10px 10px;
        }
      }
    }
  }